.outer_post_box {
  flex-direction: column;
  position: relative;
  width: 90%;
  max-width: 1500px;
  margin: 150px auto 0 auto;
}

.title {
  margin: 0 0 0 30px;

  > input {
    border-width: 0 0 1px;
    height: 40px;
    width: 400px;
    font-size: 30px;
    padding: 0 0 10px 10px;
    margin: 0 0 20px 0;
  }

  > input::placeholder {
    font-size: 30px;
    font-weight: 500;
  }

  > input:focus {
    outline: none;
  }
}

.category {
  margin: 30px 0 10px 30px;

  > input {
    border-width: 0 0 1px;
    font-size: 15px;
    padding: 0 0 5px 5px;
  }

  > input:focus {
    outline: none;
  }
}

.category_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  width: 90%;
  max-width: 1000px;
  margin: 0 0 30px 30px;

  > div {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
}

.tag {
  margin: 0 0 30px 30px;
  display: flex;

  > input {
    border-width: 0 0 1px;
    margin: 5px 0 0 0;
    font-size: 15px;
    padding: 0 0 5px 5px;
  }

  > input:focus {
    outline: none;
  }
}

.tag_box {
  display: flex;
  flex-wrap: wrap;
  margin: 3px 10px 0 0;
  > p {
    font-size: 15px;
    margin: 8px 0 0 0;
  }

  > button {
    border: none;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
  }
}

.text_form {
  margin-left: 30px;
}

.text_box {
  max-width: 1000px;
  height: 500px;
  width: 95%;
  margin: 0 0 60px 0;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
  cursor: pointer;

  > button {
    border: none;
    background-color: white;
    font-size: 15px;
  }
}
